.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 12px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-btn {
  width: 100%;
}

.divider {
  text-align: center;
  margin: 10px 0;
  color: #aaa;
}

.auth-third-party button {
  width: 100%;
  margin-bottom: 8px;
}

.switch-mode {
  text-align: center;
  margin-top: 10px;
}
